body {
	background-image: url("/Users/jodismith/Documents/General Assembly/HTML CSS & WEB DESIGN CIRCUIT/unit_3/images/1906DP-st.lucia-carnival_1-original_DUO.jpg");
	background-color: #410635;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 400px;
}
header {
	background-color: #FF3300;
	left: 15px;
	padding: 14px;
}
nav {
	word-spacing: 40px;
	text-align: right;
	position: relative;
    bottom: 14px;
    right: 14px;
}
#logo {
    position: relative;
    top: 11px;
    left: 14px;
}
a {
	font-family: "arial black";
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #410635;
	text-transform: uppercase;
}
h1 {
	font-family: "verdana";
	font-size: 84px;
	font-style: italic;
	font-weight: bold;
	color: #FF3300;
	text-transform: uppercase;
	position: relative;
    top: 11px;
    left: 60px;
}
#flavors {
	font-family: "arial";
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	color: #FF3300;
	text-transform: uppercase;
	padding-left: 180px;
}
#cans {
	background-repeat: no-repeat;
	position: relative;
	top: 140px;
    left: 1550px;
}