#BG {
	background-image: url(1906DP-st.lucia-carnival_1-original_DUO.jpg);
	background-color: #410635;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 400px;
}
header {
	background-color: #FF3300;
	left: 15px;
	padding: 14px;
}
nav {
	word-spacing: 40px;
	text-align: right;
	position: relative;
    bottom: 14px;
    right: 14px;
}
#logo {
    position: relative;
    top: 11px;
    left: 14px;
}
a {
	font-family: "arial black";
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #410635;
	text-transform: uppercase;
}
h1 {
	font-family: "Times New Roman";
	font-size: 84px;
	font-style: italic;
	font-weight: bold;
	color: #FF3300;
	text-transform: uppercase;
	position: relative;
    top: 11px;
    left: 60px;
}
#flavors {
	font-family: "Courier New";
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #FF3300;
	text-transform: uppercase;
	text-decoration: underline;
	padding-left: 120px;
}
#carnivalflavors {
	font-family: "Courier New";
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #FF3300;
	text-transform: uppercase;
	text-decoration: underline;
	padding-left: 120px;
}
#cans {
	background-repeat: no-repeat;
	position: relative;
    left: 1550px;
    padding-left: 60px;
    padding-bottom: 100px;
    transform: scale3d(1.3,1.3,1.3);
    transform: translateX(10);
}
ul {
	font-family: "Times New Roman";
	font-size: 18px;
	font-style: italic;
	color: #FF3300;
	text-transform: uppercase;
	padding-left: 180px;
}