body {
	background-color: #FFFFFF;
    font-size: 16px;
    margin: 0 auto;
}
header {
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
nav {
	background-color: #E8C66A;
}
nav a {
    border: 1px black solid;
    padding: 0 2em;
    display: inline-block;
    margin: 1em;
}
aside {
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
div {
	background-color: #FFFFCC;
    border: 1px black solid;
    padding: 20px;
}
section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.column {
    float: left;
    width: 28%;
    padding: 20px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}
#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 60%;
}
#three_column {
    margin: 0 auto;
    align-content: center;
    background-color: #CCFF99
}
#four {
    background-color: #99CCFF
}
#five {
    background-color: #FF99FF
}
#six {
    background-color: #FFFF99
}
