@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Carter+One|Open+Sans:800|Racing+Sans+One&display=swap');

body {
	background-color: #410635;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 400px;
}
header {
	background-color: #FF3300;
	left: 15px;
	padding: 14px;
}
nav {
	word-spacing: 40px;
	text-align: right;
	position: relative;
    bottom: 15px;
    padding-right: 15px;
    color: #410635;
}
h1 {
	font-family: 'Carter One', cursive, 'Verdana';
	font-size: 120px;
	font-style: italic;
	background-color: : #000000;
	letter-spacing: 10px;
	color: #FF3300;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
h2 {
	font-family: 'Carter One', cursive, 'Verdana';
	background-color: rgba(0,0,0,.25);
	font-size: 64px;
	letter-spacing: 10px;
	color: #FF3300;
	text-transform: uppercase;
	position: absolute;
}
h3 {
	font-family: 'Open Sans', sans-serif, 'Arial';
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #00CCFF;
}
a {
	font-family: 'Open Sans', sans-serif, 'Arial';
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #00CCFF;
}
p {
	font-family: 'Open Sans', sans-serif, 'Arial';
	font-size: 24px;
	text-align: center;
	color: #FF3300;
}
.pages {
	font-family: 'Open Sans', sans-serif, 'Arial';
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #00CCFF;
	border: 4px solid #00CCFF;
	padding: 0 0.25em;
}
.logo {
    position: relative;
    padding-left: 15px;
    top: 10px;
}