@import url('https://fonts.googleapis.com/css?family=Carter+One|Racing+Sans+One&display=swap');

body {
	background-image: url("../images/167086_rockstarcollectorsedition_227573g.png");
	background-color: #410635;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 400px;
}
header {
	background-color: #FF3300;
	left: 15px;
	padding: 14px;
}
nav {
	word-spacing: 40px;
	text-align: right;
	position: relative;
    bottom: 15px;
    padding-right: 15px;
    color: #410635;
}
.logo {
    position: relative;
    padding-left: 15px;
    top: 11px;

}
#buy {
	font-family: 'Racing Sans One', cursive;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #410635;
}
h1 {
	font-family: 'Carter One', cursive;
	font-size: 120px;
	font-style: italic;
	letter-spacing: 10px;
	color: #FF3300;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
h2 {
	font-family: 'Racing Sans One', cursive;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
a {
	font-family: 'Racing Sans One', cursive;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	color: #410635;
}
.box {
    width: 15%;        
    padding: 3px;
    float: center;
    text-align: center;
    background: #FF3300;
    align-content: center;
