@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
	background-image: url("../images/167086_rockstarcollectorsedition_227573f.png");
	background-color: #410635;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 400px;
}
header {
	background-color: #FF3300;
	left: 15px;
	padding: 14px;
}
nav {
	word-spacing: 40px;
	text-align: right;
	position: relative;
    bottom: 15px;
    color: #410635;
}
#logo {
    position: relative;
    top: 11px;
    left: 14px;
}
#buy {
	font-family: "Courier New";
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: ##FF3300;
	text-transform: uppercase;
	text-align: center;
a {
	font-family: "arial black";
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	color: #410635;
}
h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 84px;
	font-style: italic;
	letter-spacing: 10px;
	color: #FF3300;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
